.col-pilihan-game{
    background-image: url("../assets/the-games-bg.jpg");
    width: 100%;
    height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* .row.col-requirement{ */
.row.col-requirement{
    background-image: url("../assets/requirements.png");
    width: 100%;
    height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding: 0;
}

.row.col-pilihan-game {
    margin-right: 0;
    margin-left: 0;
}

.col-lg-12.my-auto {
    padding-right: 5rem;
    padding-left: 5rem;
}

h3 {
    font-size: 66px;
}

p {
    margin-bottom: 0;
    letter-spacing: 3px;
}

a.carousel-control-prev {
    left: -80px;
    width: 80px;
}

a.carousel-control-next {
    right: -80px;
    width: 80px;
}

.col-feature{
    background-image: url("../assets/features.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row.col-feature{
    height: 740px;
    color: white;
    margin-right: 0;
    /* margin-left: 0; */
    /* margin-top: -8px; */
}

.pl-5 h3 {
    margin-bottom: 30px;
}

.box-feature h4 {
    margin-bottom: 2rem;
    color: orange;
}

.box-feature p {
    font-size: 12px;
    margin-bottom: 2rem;
    margin-top: -1rem;
}

td h4{
    color: orange;
}

td p{
    color: white;
    font-size: 12px;
}