html {
    height: 100vh;
}
body {
    text-align: center;
    background: url(./../assets/the-games-bg.jpg);
    margin: 0;
}
header {
    top: 0px;
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: forestgreen;
    color: white;
}
h1 {
    height: 40px;
    width: 153px;
    box-sizing: border-box;
}
.box {
    display: inline-flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2 {
    text-align: center;
}
.kotak {
    width: 440px;
}

.kotak_picked {
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.tengah {
    position: absolute;
    right: 575px;
    top: 340px;
    text-align: center;
    background-color: white;
    width: 200px;
    border-radius: 16px;
}

img {
    box-sizing: border-box;
}

img.suit_com {
    margin-left: auto;
}

h1.h1-tengah {
    margin: 0 auto;
}

.kotak.kiri {
    border-right: 1px solid black;
    background-color: #212529;
}
.kotak.kanan {
    background-color: #c8cbce;
}
.status {
    border-bottom: 1px solid;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 1000px;
    height: 600px;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.box-2 {
    position: absolute;
    bottom: 50px;
    left: 623px;
    height: 50px;
    width: 100px;
}

img#btnReset {
    width: 64px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
    background-color: white;
}

.box {
    height: 92%;
    padding: 1px;
    background: azure;
    border-radius: 5px;
    margin-top: 12px;
}

.back {
    margin: 0;
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
}

.kotak > img {
    display: block;
    width: 120px;
    height: 120px;
    padding: 20px;
    z-index: -1;
    margin: 22px auto 0 auto;
}

.kiri > .status {
    color: #c8cbce;
}

.kanan >.status {
    color: #212529;
}

img.suit_player:hover {transform: rotate(45deg);}
.rotate-hover {transform: rotate(-45deg);}
img#btnReset:hover {
    transform: scale(1.5);
}

img.d-inline-block.rounded-circle {
    margin: 0;
    width: 30px;
    height: 30px;
}

p {
    margin-top: 1rem;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-player {
    position: absolute;
    top: 230px;
}

#img-player1{
    left: 90px;
}

#img-player2{
    right: 90px;
}